*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("bg.jpg");
    background-size: cover;
    color: whitesmoke;
}

a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: center;
   justify-content: space-around;
   margin-top: 30px
}
nav h1{
    font-size: 40px;
}
nav span{
    color: red;
}

ul{
    display: flex;
    list-style-type: none; 
}

ul button{
    width: 100px;
    height: 35px;
    background-color: brown;
    color: rgb(235, 239, 243);
    border: none;
    border-radius: 3px;
}

ul button:hover{
    border: 3px solid white;
    background: gold;
    cursor: pointer;
}

ul li a{
    margin-inline: 30px;
    font-size: 20px;
}

ul li a:hover{
    color: aqua;
   border-bottom: 4px solid blue;
   margin-top: 3px;
   cursor: pointer;
}

.text{
    margin-top: 45px;
    margin-left: 10%;
}

.text h1{
    font-size: 150px;
    text-transform: uppercase;
}

.text p{
    font-size: 20px;
    margin-top: 20px;
}

.text button{
    width:10%;
    height: 35px;
    background-color: aqua;
    color: #000;
    box-shadow: 3px 4px #888 ;
    font-size: 15px;
    margin-top: 30px;
}

.text button:hover{
    border: 3px solid white;
    background: palevioletred;
    cursor: pointer;
}

@media(max-width: 600px){
    .container{
        max-width: 100%;
    }

   nav{
        margin-bottom: 15px;
     width: 100%;
     }

    
}
